.modal {
  background: $gray;
  display: none;
  font-family: $font-family-sans-serif;
  padding: 20px;

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}

.modal__form-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.modal__footer-text {
  margin-right: 20px;
}

.modal--short {
  max-width: 630px;
}
