mixin modal(data)
  .modal#question&attributes(attributes)
    h4.mb-20.text-white Задать вопрос
    form.form(action="#", method="POST")
      .form__item.form-group
        label.form__label.form__label--light Выберите спикера
        +speaker-select
      .form__item.form-group
        label.form__label.form__label--light Вопрос для спикера
        textarea.input.input--light.input--textarea(type="text")
      .modal__form-footer
        p.p--xs.mr-sm-20.mr-lg-60.text-white.modal__footer-text Вы можете задать любой вопрос спикеру но прежде чем они будут им доставленны они пройдут предварительную премодерацию 
        button.btn.btn-primary(type="submit") Отправить
