@font-face {
  font-family: 'DecimaMonoPro';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/subset-DecimaMonoPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-DecimaMonoPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/subset-DINPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-DINPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/subset-DINPro.woff2') format('woff2'),
    url('../fonts/subset-DINPro.woff') format('woff');
}

@font-face {
  font-family: 'DecimaMonoPro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/subset-DecimaMonoPro.woff2') format('woff2'),
    url('../fonts/subset-DecimaMonoPro.woff') format('woff');
}
