h2,
.h2 {
  font-size: 40px;
  line-height: 1.175;

  @include media-breakpoint-down(lg) {
    font-size: 34px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.17;

  @include media-breakpoint-down(lg) {
    font-size: 28px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 25px;
  line-height: 1.16;

  @include media-breakpoint-down(lg) {
    font-size: 22px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.15;

  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

p,
.p {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 19px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

p.p--sm {
  font-size: 14px;
  line-height: 1.22;
  margin-bottom: 16px;

  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
}

p.p--xs {
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 14px;
}

.font-weight-medium {
  font-weight: 500;
}

ul {
  padding-left: 0;

  li {
    display: flex;
    font-size: 16px;
    line-height: 1.19;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

ul li::before {
  background: $primary;
  border-radius: 50%;
  content: '';
  display: block;
  flex-shrink: 0;
  height: 8px;
  margin-right: 22px;
  margin-top: 6px;
  width: 8px;
}

ul li + li {
  margin-top: 19px;
}

ol {
  li {
    font-size: 16px;
    line-height: 1.19;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

ol li + li {
  margin-top: 19px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

.bg-gray {
  background: $gray;
}

.bg-gray-light {
  background: $gray-light;
}

.font-family-secondary {
  font-family: $font-family-secondary;
}

.transparent-md {
  opacity: 0.7;
}

.transparent-sm {
  opacity: 0.7;
}

.text-gray {
  color: #cdcdcd;
}
