mixin application(data)
  .application&attributes(attributes)
    .application__header
      .application__header-content
        h5.mb-10 Заявка #104
        h5.mb-0.font-weight-bold Конкурс «Конкурс проектов», Проект «Персональный робот Адам»
      if data && data.modifier == 'chosen'
        a.btn.btn-outline-primary.btn-calendar(href="#") iCal
    if data && data.modifier == 'chosen'
      .application__chosen
        .application__chosen-content
          p.mb-15.font-weight-bold Ваш проект ототбран в полуфинал. 
          p.mb-0 Трансляция начнется: 18.05.2020 в 14:00
        +copy-link({
          link: 'https://sv2020.zoom.us/j/8342527317'
        })
