.application {
  background: rgba(148, 148, 148, 0.1);
  border: 1px solid #dedede;
  margin-bottom: 20px;
  padding: 30px 25px;

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}

.application__header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.application__header-content {
  margin-right: 20px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.application__chosen {
  align-items: center;
  display: flex;
  margin-top: 40px;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.application__chosen-content {
  margin-right: 170px;
  min-width: 200px;

  @include media-breakpoint-down(lg) {
    margin-right: 20px;
    min-width: 0;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}
