/*  Bootstrap */

/* Btn */

.btn {
  align-items: center;
  border-radius: 70px;
  color: $dark;
  display: inline-flex;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
}

.btn.btn-primary {
  padding: 14px 33.9px;
}

.btn.btn-outline-primary {
  color: $dark;
}

.btn.btn-calendar {
  padding: 7px 17.5px;
}

.btn.btn-sm {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

/* Custom file */

.custom-file--clip {
  @include transition;
  height: auto;
  width: 24px;

  .custom-file-input {
    height: auto;
    width: 24px;
  }

  .custom-file-label {
    background: url('../img/icon-clip.svg') no-repeat center;
    background-size: contain;
    border: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
}

.custom-file--clip:hover {
  opacity: 0.75;
}

.custom-file--clip .custom-file-label::after {
  display: none;
}

/* Select2 */

.select2-container .select2-selection--single .select2-selection__rendered {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 26px;
  padding-left: 0;
}

.select2-container .select2-selection--single {
  border: 0;
  border-bottom: 1px solid rgba(#000, 0.2);
  border-radius: 0;
  height: 26px;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: #fff url('../img/select-arrow.svg') no-repeat center right;
  background-size: 10px;
  border-radius: 0;
  bottom: 1px;
  height: calc(100% - 1px);
  right: 0;
  top: auto;
  width: 15px;
  z-index: 1;

  b {
    display: none;
  }
}

.select2-dropdown {
  border-color: #b6c3d9;
}

.select2-results__option {
  font-size: 13px;
  padding-left: 10px;
}

.select2-results__option::before {
  display: none;
}

.select2-results__option + .select2-results__option {
  margin-top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #969595;
  font-size: 13px;
}

/* Tabs */

.nav-tabs {
  border-bottom: 1px solid rgba(#000, 0.2);

  @include media-breakpoint-down(lg) {
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.nav-tabs__wrapper {
  @include media-breakpoint-down(lg) {
    overflow: hidden;
    position: relative;
  }
}

.nav-tabs__wrapper::before {
  @include media-breakpoint-down(lg) {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 80%);
    bottom: 4px;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 20px;
    z-index: 1;
  }
}

.nav-tabs__wrapper::after {
  @include media-breakpoint-down(lg) {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 80%);
    bottom: 4px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 70px;
    z-index: 1;
  }
}

.nav-item {
  background: transparent;
  margin-bottom: 0;

  @include media-breakpoint-down(lg) {
    flex-shrink: 0;
  }
}

.nav-item + .nav-item {
  margin-left: 40px;
  margin-top: 0;
}

.nav-item::before {
  display: none;
}

.nav-item:first-child {
  @include media-breakpoint-down(lg) {
    padding-left: 20px;
  }
}

.nav-item:last-child {
  @include media-breakpoint-down(lg) {
    padding-right: 50px;
  }
}

.nav-link {
  background: transparent;
  border: 0 !important;
  color: $dark;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding: 0 0 19px;
  position: relative;
  text-transform: uppercase;
}

.nav-link:hover::after {
  background: rgba($gray, 0.2);
}

.nav-link:hover {
  color: $dark;
}

.nav-link::after {
  @include transition;
  background: transparent;
  bottom: -2px;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.nav-link.active {
  border-color: transparent;
  color: $dark;
}

.nav-link.active::after {
  background: $primary;
}

.nav-link--notification::before {
  background: $primary;
  border-radius: 50%;
  content: '';
  display: block;
  height: 11px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 11px;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

/* Perfect Scrollbar */

.ps__rail-y {
  @include media-breakpoint-down(lg) {
    opacity: 1;
  }

  .ps__thumb-y {
    background: $primary;
    border-radius: 0;
    right: 0;
  }
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  background: #303030;
  width: 6px;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background: #303030;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background: $primary;
  width: 6px;
}

/* Fancybox */

.fancybox-close-small {
  background: url('../img/close.svg') no-repeat;
  background-size: contain;
  height: 16px;
  right: 19px;
  top: 14px;
  width: 16px;

  @include media-breakpoint-down(sm) {
    right: 10px;
    top: 10px;
  }

  svg {
    display: none;
  }
}
