mixin pagination(data)
  .pagination&attributes(attributes)
    a.pagination__arrow.pagination__arrow--left(href="#")
    a.pagination__item(href="#") 1
    a.pagination__item.pagination__item--active(href="#") 2
    a.pagination__item(href="#") 3
    a.pagination__arrow.pagination__arrow--right(href="#")
