.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  margin-top: 20px;
}

.pagination__arrow {
  @include transition;
  border-radius: 50%;
  height: 54px;
  margin: 0 15px;
  width: 54px;

  @include media-breakpoint-down(sm) {
    height: 40px;
    margin: 0 5px;
    width: 40px;
  }
}

.pagination__arrow:hover {
  opacity: 0.75;
}

.pagination__arrow--left {
  background: url('../img/pagination-left.svg') no-repeat center;
  background-size: contain;
}

.pagination__arrow--right {
  background: url('../img/pagination-right.svg') no-repeat center;
  background-size: contain;
}

.pagination__item {
  @include transition;
  align-items: center;
  border: 2px solid $gray;
  border-radius: 50%;
  color: #000;
  display: flex;
  font-size: 20px;
  height: 54px;
  justify-content: center;
  line-height: 23px;
  margin: 0 15px;
  width: 54px;

  @include media-breakpoint-down(sm) {
    height: 40px;
    margin: 0 5px;
    width: 40px;
  }
}

.pagination__item:hover {
  color: $dark;
  opacity: 0.75;
}

.pagination__item--active {
  border-color: $primary;
}
