.track-article__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.track-article__evaluation {
  align-items: center;
  display: flex;
  margin-bottom: 17px;
}

.track-article__evaluation-item {
  display: flex;
}

.track-article__evaluation-item + .track-article__evaluation-item {
  margin-left: 22px;
}

.track-article__evaluation-item--bad::before {
  background: url('../img/bad.svg') no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  height: 16px;
  margin-right: 10px;
  margin-top: 4px;
  width: 16px;
}

.track-article__evaluation-item--good::before {
  background: url('../img/good.svg') no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  height: 16px;
  margin-right: 10px;
  width: 16px;
}

.track-article__graph {
  background: url('../img/track-graph-bg.svg') no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 233px;
  padding: 10px 0;
}

.track-article__questions-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.track-article__questions-content {
  background: #515152;
  flex-grow: 1;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}

.track-article__question-wrapper {
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: 0 20px;
  position: absolute;
  top: 0;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
  }
}

.track-article__question {
  margin: 30px 0;
}

.track-article__question:first-child {
  margin-top: 23px;
}

.track-article__question-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.track-article__question-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.track-article__question-evaluation {
  align-items: center;
  display: flex;
  font-size: 12px;
}

.track-article__question-evaluation::before {
  background: url('../img/good.svg') no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  height: 12px;
  margin-right: 4px;
  margin-top: -4px;
  width: 12px;
}
