mixin track-article(data)
  .track-article&attributes(attributes)
    .bg-gray.pb-40
      .container
        .row
          .col-lg-10
            h2.mb-30.text-white Unicornization. Как вырастить успешного единорога и удержать позиции
            .d-flex.flex-wrap.mb-10.mb-sm-35
              h5.mb-10.mr-20.mr-sm-40.text-white Global Track
              h5.mb-10.mr-20.mr-sm-40.text-white 21 мая 13:15 — 13:45
        .row
          .col-lg-8.d-flex
            +video({
              picture: 'video-1.jpg',
              modifier: 'live'
            })
          .col-lg-4.d-flex
            +chat-common({
              title: 'Чат трека'
            })
    .container
      .row.pt-35.pb-20
        .col-lg-8
          h4.text-white.mb-10 Unicornization. Как вырастить успешного единорога и удержать позиции
          .track-article__info
            .d-flex.flex-wrap
              p.mb-10.mr-20.mr-sm-70.text-white Global Track
              p.mb-10.mr-20.mr-sm-40.text-white 21 мая 13:15 — 13:45
            .d-flex.align-items-center
              p.text-white.mb-0.mr-10 Поделиться:
              +socials
          p.p--sm.transparent-md.text-white Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием Startup 
        .col-lg-4.d-flex.flex-column.align-items-lg-end
          .track-article__evaluation
            .track-article__evaluation-item.track-article__evaluation-item--bad
              p.mb-0.text-white 15
            .track-article__evaluation-item.track-article__evaluation-item--good
              p.mb-0.text-white 150
          .track-article__graph
            img.img-fluid(src="./img/track-graph.svg", alt)
      .row
        .col-lg-6
          h3.mb-30.text-white Спикеры
          .row
            .col-sm-4
              +speaker
            .col-sm-4
              +speaker
            .col-sm-4
              +speaker
            .col-sm-4
              +speaker
            .col-sm-4
              +speaker
        .col-lg-6.d-flex.flex-column
          .track-article__questions-header
            h4.text-white.mb-15.mb-lg-0 Вопросы спикерам
            a.btn.btn-primary.btn-sm(href="#question" data-fancybox) Задать вопрос
          .track-article__questions-content
            .track-article__question-wrapper
              +track-article__question
              +track-article__question
              +track-article__question
              +track-article__question
              +track-article__question
              +track-article__question
              +track-article__question
              +track-article__question
    .bg-gray.mt-40.mt-lg-100
      .container.pt-20.pt-lg-45.pb-25
        h4.mb-20.mb-lg-35.text-white Программа трека
        .row
          .col-sm-6.col-lg-4.col-xl-3
            +session({
              picture: 'session-1.jpg',
            })
          .col-sm-6.col-lg-4.col-xl-3
            +session()
          .col-sm-6.col-lg-4.col-xl-3
            +session()
          .col-sm-6.col-lg-4.col-xl-3
            +session({
              picture: 'session-3.jpg',
            })
          .col-sm-6.col-lg-4.col-xl-3
            +session({
              picture: 'session-4.jpg',
            })
          .col-sm-6.col-lg-4.col-xl-3
            +session({
              picture: 'session-5.jpg',
            })
          .col-sm-6.col-lg-4.col-xl-3
            +session({
              picture: 'session-6.jpg',
            })
          .col-sm-6.col-lg-4.col-xl-3
            +session({
              picture: 'session-7.jpg',
            })

      

mixin track-article__question(data)
  .track-article__question&attributes(attributes)
    .track-article__question-header
      p.text-white.mb-0 Для 
        span.text-primary Мари-Элен Аместрайтер
      p.p--xs.mb-0.text-white 14:00
    p.p--sm.transparent-md.mb-10.text-white Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village  станет виртуальным событием Startup Village Livestream’20 станет виртуальным событием и главным бесплатным 
    .track-article__question-footer
      p.mb-0.p--xs.text-white Виктор Пайет, Москва
      .track-article__question-evaluation
        p.p--xs.text-white.mb-0 150
