
include ../blocks/tracks/tracks.pug
include ../blocks/track-item/track-item.pug
include ../blocks/video/video.pug
include ../blocks/chat-common/chat-common.pug
include ../blocks/track-article/track-article.pug
include ../blocks/speaker/speaker.pug
include ../blocks/session/session.pug
include ../blocks/modal/modal.pug
include ../blocks/select/select.pug
include ../blocks/input/input.pug
include ../blocks/ticker/ticker.pug
include ../blocks/page-header/page-header.pug
include ../blocks/filters/filters.pug
include ../blocks/exponent/exponent.pug
include ../blocks/pagination/pagination.pug
include ../blocks/exponent-item/exponent-item.pug
include ../blocks/chat-front/chat-front.pug
include ../blocks/tag/tag.pug
include ../blocks/jury/jury.pug
include ../blocks/calendar-event/calendar-event.pug
include ../blocks/calendar/calendar.pug
include ../blocks/application/application.pug
include ../blocks/link-back/link-back.pug
include ../blocks/socials/socials.pug
include ../blocks/speaker-select/speaker-select.pug
include ../blocks/form/form.pug

include ../blocks/contestant/contestant.pug
include ../blocks/project/project.pug
include ../blocks/copy-link/copy-link.pug