.calendar-event {
  align-items: baseline;
  background: rgba(148, 148, 148, 0.1);
  border: 1px solid #dedede;
  display: flex;
  margin-bottom: 25px;
  padding: 22px 27px 35px 23px;

  @include media-breakpoint-down(lg) {
    align-items: stretch;
    flex-direction: column;
    padding-top: 15px;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }
}

.calendar-event__date {
  flex-basis: 11%;
  flex-shrink: 0;

  @include media-breakpoint-down(lg) {
    flex-basis: auto;
  }
}

.calendar-event__time {
  flex-basis: 10%;
  flex-shrink: 0;

  @include media-breakpoint-down(lg) {
    flex-basis: auto;
  }
}

.calendar-event__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.calendar-event__controls {
  align-items: flex-start;
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.calendar-event__btn {
  flex-shrink: 0;
  margin-left: 22px;

  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-top: 20px;
  }
}
