mixin calendar-event(data)
  .calendar-event&attributes(attributes)
    .calendar-event__date
      h5= data.date
    .calendar-event__time
      p.p--sm.transparent-sm= data.time
    .calendar-event__content
      h5.mb-10.font-weight-bold= data.title
      p.p--sm.mb-25= data.track
      .calendar-event__controls
        +copy-link({
          link: data.link
        })
        a.btn.btn-primary.calendar-event__btn(href="#") Присоединиться к сессии
