.input {
  @include placeholder(rgba(#000, 0.1));
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(#000, 0.2);
  border-radius: 0 !important;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  resize: none;
}

.input--light {
  border-bottom-color: rgba(#fff, 0.2);
  color: #fff;
}

.input--textarea {
  min-height: 135px;
}
