.page-header {
  padding-bottom: 40px;
  padding-top: 30px;
}

.page-header__logo {
  @include transition;
  align-items: center;
  background: #000;
  display: flex;
  justify-content: center;
  min-height: 190px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    min-height: 0;
    padding: 10px;
  }
}

.page-header__logo:hover {
  opacity: 0.75;
}

.page-header__logo-img {
  max-height: 110px;
  max-width: 100%;
}

.page-header__content {
  background: #000 url('../img/page-header-bg.png') no-repeat center;
  background-size: cover;
  min-height: 190px;
  padding: 35px 45px;
  width: 100%;

  @include media-breakpoint-down(lg) {
    padding: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin: 10px 0;
    min-height: 0;
    padding: 10px;
  }
}

.page-header__login {
  @include transition;
  align-items: flex-end;
  background: $primary;
  color: #000;
  display: flex;
  min-height: 190px;
  padding: 20px;
  position: relative;

  @include media-breakpoint-down(sm) {
    min-height: 0;
    padding: 10px;
  }
}

.page-header__login:hover {
  color: $dark;
  opacity: 0.75;
}

.page-header__login::before {
  background: linear-gradient(180deg, #ed1c25 0%, #ec047b 100%);
  border-radius: 50%;
  content: '';
  display: block;
  height: 28px;
  position: absolute;
  right: 13px;
  top: 13px;
  width: 28px;

  @include media-breakpoint-down(sm) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.page-header__exponent-logo {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  min-height: 190px;
  padding: 40px 10px;
  position: relative;
  width: 100%;

  @include media-breakpoint-down(sm) {
    min-height: 0;
    padding: 10px;
  }
}

.page-header__link-back {
  left: 0;
  position: absolute;
  top: 0;
}

.page-header__logo-link {
  @include transition;
}

.page-header__logo-link:hover {
  opacity: 0.75;
}

.page-header__exponent {
  background: #fff;
  padding: 30px 40px;

  @include media-breakpoint-down(lg) {
    padding: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin: 10px 0;
    min-height: 0;
    padding: 10px;
  }
}

.page-header__exponent-top {
  align-items: baseline;
  display: flex;
  margin-bottom: 18px;
}

.page-header__user {
  background: #000 url('../img/page-header-bg.png') no-repeat center right -250px;
  background-size: cover;
  display: flex;
  min-height: 190px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin: 10px 0;
    min-height: 0;
  }
}

.page-header__userpic {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 190px;

  @include media-breakpoint-down(lg) {
    width: 150px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.page-header__user-content {
  padding: 30px;

  @include media-breakpoint-down(lg) {
    padding: 15px;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }
}
