mixin filters(data)
  .filters&attributes(attributes)
    a.btn.btn-primary.filters__btn(href="#") 
      span.filters__btn-text.filters__btn-text--active Показать фильтры
      span.filters__btn-text Скрыть фильтры
    .filters__content
      form.form(action="#", method="GET")
        .row
          .col-lg-3.col-xl-4
            .form__item.form-group
              label.form__label Поиск по экспонентам
              .form__search
                input.input.form__search-input(type="text", placeholder="Введите запрос")
                button.form__search-btn(type="submit")
          .col-lg-9.col-xl-8
            .row
              .col-lg-3.d-flex.align-items-end
                .form__item.form-group
                  label.form__label Ориентирование проекта
                  +select({
                    selected: 'Целевой рынок'
                  })
              .col-lg-3.d-flex.align-items-end
                .form__item.form-group
                  label.form__label Стадия проекта
                  +select({
                    selected: 'В разработке'
                  })
              .col-lg-3.d-flex.align-items-end
                .form__item.form-group
                  label.form__label В поиске инвестиций
                  +select({
                    selected: 'От 12000$ до 125000$'
                  })
              .col-lg-3.d-flex.align-items-end
                .form__item.form-group
                  label.form__label Страна / Регион
                  +select({
                    selected: 'Выберите'
                  })
