.filters {
  padding-top: 38px;
}

.filters__btn {
  display: none;
  width: 100%;

  @include media-breakpoint-down(md) {
    display: block;
  }
}

.filters__btn-text {
  display: none;
}

.filters__btn-text--active {
  display: inline;
}

.filters__content {
  @include media-breakpoint-down(md) {
    display: none;
    margin-top: 20px;
  }
}
