.calendar__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.calendar__header-controls {
  align-items: center;
  display: flex;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}

.calendar__print {
  @include transition;
  background: url('../img/icon-print.svg') no-repeat center;
  background-size: contain;
  display: block;
  height: 40px;
  margin-left: 13px;
  width: 40px;
}

.calendar__print:hover {
  opacity: 0.75;
}
