mixin calendar(data)
  .calendar&attributes(attributes)
    .calendar__header
      h3.mb-0 Сессии в которых я учавствую
      .calendar__header-controls
        a.btn.btn-outline-primary.btn-calendar(href="#") iCal
        a.calendar__print(href="#")
    +calendar-event({
      date: '21 Мая',
      time: '15:50-15:30',
      title: 'Intelligent Buildings. Развитие жилищных экосистем',
      track: 'Industry Track',
      link: 'https://sv2020.zoom.us/j/8342527317'
    })
    +calendar-event({
      date: '22 Мая',
      time: '14:00-17:00',
      title: 'Финал конкурса',
      track: 'Global track',
      link: 'https://sv2020.zoom.us/j/3948728456'
    })
