.contestant__header {
  @include transition;
  border-bottom: 1px solid $primary;
  color: $dark;
  display: block;
  margin-bottom: 40px;
  padding-bottom: 13px;
  text-transform: uppercase;
}

.contestant__header:hover {
  color: $dark;
  opacity: 0.75;
}
