mixin ticker(data)
  .ticker&attributes(attributes)
    .ticker__wrapper
      +ticker__item({
        country: 'Россия',
        title: 'Бегущая строка с проектами'
      })
      +ticker__item({
        country: 'Швейцария',
        title: 'Длинное название проекта для наглядности'
      })
      +ticker__item({
        country: 'Россия',
        title: 'Бегущая строка с проектами'
      })
      +ticker__item({
        country: 'Швейцария',
        title: 'Длинное название проекта для наглядности'
      })
      +ticker__item({
        country: 'Россия',
        title: 'Бегущая строка с проектами'
      })
      +ticker__item({
        country: 'Швейцария',
        title: 'Длинное название проекта для наглядности'
      })
      +ticker__item({
        country: 'Россия',
        title: 'Бегущая строка с проектами'
      })
      +ticker__item({
        country: 'Швейцария',
        title: 'Длинное название проекта для наглядности'
      })
      +ticker__item({
        country: 'Россия',
        title: 'Бегущая строка с проектами'
      })
      +ticker__item({
        country: 'Швейцария',
        title: 'Длинное название проекта для наглядности'
      })
      +ticker__item({
        country: 'Россия',
        title: 'Бегущая строка с проектами'
      })
      +ticker__item({
        country: 'Швейцария',
        title: 'Длинное название проекта для наглядности'
      })
      

mixin ticker__item(data)
  a.ticker__item(href="#")&attributes(attributes)
    .ticker__item-header
      p.p--xs.mb-0= data.country
    p.mb-0= data.title
