.ticker {
  border-bottom: 1px solid rgba(#000, 0.2);
  border-top: 1px solid rgba(#000, 0.2);
  overflow: hidden;
  padding: 18px 0;
}

.ticker__wrapper {
  align-items: center;
  display: flex;
  transition: all 0.1s linear;
}

.ticker__item {
  @include transition;
  align-items: center;
  color: #000;
  display: flex;
  white-space: nowrap;
}

.ticker__item:hover {
  opacity: 0.75;

  .ticker__item-header {
    color: $dark;
  }
}

.ticker__item + .ticker__item {
  margin-left: 65px;
}

.ticker__item-header {
  background: $primary;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2.5px 7.1px;
}
