.chat-front {
  @include transition;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 240px;
  padding: 20px;
  width: 100%;
}

.chat-front:hover {
  opacity: 0.75;
}

.chat-front::before {
  background: linear-gradient(180deg, rgba(24, 24, 17, 0.63) 0%, rgba(0, 0, 0, 0) 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.chat-front__title {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  z-index: 1;

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }
}
