.socials {
  align-items: center;
  display: flex;
}

.socials__item {
  @include transition;
  height: 25px;
  margin-left: 10px;
  width: 25px;
}

.socials__item:hover {
  opacity: 0.75;
}

.socials__item--fb {
  background: url('../img/fb.svg') no-repeat;
  background-size: contain;
}

.socials__item--vk {
  background: url('../img/vk.svg') no-repeat;
  background-size: contain;
}

.socials__item--ig {
  background: url('../img/ig.svg') no-repeat;
  background-size: contain;
}

.socials__item--yt {
  background: url('../img/yt.svg') no-repeat;
  background-size: contain;
}
