mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item.socials__item--fb(href="#")
    a.socials__item.socials__item--vk(href="#")
    a.socials__item.socials__item--ig(href="#")
    a.socials__item.socials__item--yt(href="#")
