mixin track-item(data)
  a.track-item(href="#")&attributes(attributes)
    .track-item__picture(style="background-image: url(./img/" + data.picture + ');')
    if data && data.modifier == 'live'
      .track-item__live Live
    .track-item__content
      h5.mb-20.font-family-secondary.font-weight-bold= data.date
      .track-item__content-main
        h4.mb-0.font-weight-bold= data.title
        if data && data.section
          h5.mt-15= data.section
