.track-item {
  @include transition;
  color: #fff;
  min-height: 227px;
  padding: 20px 40px 30px;
  position: relative;
  text-align: center;
  width: 100%;
}

.track-item:hover {
  color: #fff;
  opacity: 0.8;
}

.track-item::before {
  background: linear-gradient(0deg, rgba(70, 70, 70, 0.5), rgba(70, 70, 70, 0.5));
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.track-item__picture {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.track-item__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
}

.track-item__content-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.track-item__live {
  background: #006dff;
  border-radius: 70px;
  color: #fff;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 3px 7.84px;
  position: absolute;
  right: 14px;
  top: 12px;
  z-index: 1;
}

.track-item--active::before {
  background: linear-gradient(0deg, rgba(211, 216, 0, 0.5), rgba(211, 216, 0, 0.5));
}
