mixin jury(data)
  a.jury(href="#", style="background-image: url(./img/" + data.photo + ');')&attributes(attributes)
    .jury__content
      p.mb-10.font-weight-bold.text-white Мари-Элен Аместрайтер
      p.p--sm.mb-10.text-white Партнер, Speedinvest
      p.p--xs.text-white.mb-0 Нидерланды
