.jury {
  @include transition;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 20px;
  min-height: 300px;
  padding: 25px;
  position: relative;
}

.jury:hover {
  opacity: 0.75;
}

.jury::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.57) 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.jury__content {
  position: relative;
  z-index: 1;
}
