.tag {
  @include transition;
  border: 1px solid #bdbdbd;
  color: $dark;
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 8px 8px 0;
  padding: 3.5px 7px;
  text-transform: uppercase;
}

.tag:hover {
  border-color: $primary;
  color: $dark;
}

.tag--active {
  background: $primary;
  border-color: $primary;
}

.tag--columned:last-child {
  margin-bottom: 0;
}
