.speaker {
  @include transition;
  color: #fff;
  display: block;
  margin-bottom: 40px;
}

.speaker:hover {
  color: #fff;
  opacity: 0.75;
}

.speaker__photo {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  padding-top: 100%;
  position: relative;
}

.speaker__photo::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.21%, rgba(0, 0, 0, 0.57) 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.speaker__content {
  margin-top: 20px;
}
