mixin speaker(data)
  a.speaker(href="#")&attributes(attributes)
    .speaker__photo(style="background-image: url(./img/speaker.png)")
    .speaker__content
      p.mb-5.font-weight-bold Мари-Элен Аместрайтер
      p.p--sm.mb-5 Партнер, Speedinvest
      p.p--xs.mb-0 Нидерланды
