mixin exponent-item(data)
  a.exponent-item(href="#")&attributes(attributes)
    .exponent-item__sk-logo
    .exponent-item__img-wrapper
      img.exponent-item__img(src="./img/" + data.logo, alt) 
    p.font-weight-bold.exponent-item__header PaperNote
    p.p--sm.transparent-md.mb-0.exponent-item__dscr Startup Village Livestream’20 станет виртуальным событием и главным бесплатным 
