.exponent-item {
  @include transition;
  border: 2px solid transparent;
  color: #000;
  display: block;
  margin-bottom: 47px;
  padding: 20px;
  position: relative;

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    padding: 0;
  }
}

.exponent-item:hover {
  border-color: $primary;
  color: #000;

  @include media-breakpoint-down(md) {
    border-color: transparent;
  }

  .exponent-item__header {
    color: $primary;
  }

  .exponent-item__dscr {
    font-weight: 700;
  }

  .exponent-item__sk-logo {
    opacity: 1;
  }
}

.exponent-item__sk-logo {
  @include transition;
  background: url('../img/sk-logo.png') no-repeat center;
  background-size: contain;
  height: 21px;
  opacity: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 30px;
}

.exponent-item__img-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 13px;
  min-height: 93px;
}

.exponent-item__img {
  max-height: 93px;
  max-width: 100%;
}

.exponent-item__header {
  @include transition;
  margin-bottom: 11px;
}

.exponent-item__dscr {
  @include transition;
}
