.session {
  @include transition;
  display: block;
  margin-bottom: 45px;
}

.session:hover {
  opacity: 0.75;
}

.session__photo {
  background-color: #000;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
  padding-top: 56.33%;
  position: relative;
}

.session__logo {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.session__content {
  color: #fff;
}
