mixin session(data)
  a.session(href="#")&attributes(attributes)
    if data && data.picture
      .session__photo(style="background-image: url(./img/" + data.picture + ');')
    else
      .session__photo
        img.img-fluid.session__logo(src="./img/stvillage-logo.svg", alt)
    .session__content
      .d-flex.align-items-center.justify-content-between.mb-20
        p.p--sm.mb-0 22 мая
        p.p--sm.mb-0 18:00
      h5.mb-0.font-weight-bold Название сессии в несколько строк для наглядности
