extends ../templates/template.pug
block content
  .page-header
    .container
      .row
        .col-md-3.col-xl-2
          a.page-header__logo(href="#")
            img.page-header__logo-img(src="./img/stvillage-logo.svg", alt)
        .col-md-6.col-xl-8
          .page-header__user
            .page-header__userpic(style="background-image: url(./img/userpic.png);")
            .page-header__user-content
              h3.mb-5.text-white Oussama Ammar
              h5.mb-0.text-white The Family, <br>Co-founder & Director
        .col-md-3.col-xl-2
          a.page-header__login(href="#")
            h5.mb-0.font-weight-bold Войти в личный кабинет
  .container
    .nav-tabs__wrapper
      ul.nav.nav-tabs.mb-30
        li.nav-item
          a.nav-link(data-toggle='tab', href='#profile', role='tab') ПРОФИЛЬ   
        li.nav-item
          a.nav-link.active(data-toggle='tab', href='#calendar', role='tab') КАЛЕНДАРЬ
        li.nav-item
          a.nav-link(data-toggle='tab', href='#applications', role='tab') ЗАЯВКИ НА КОНКУРС
        li.nav-item
          a.nav-link(data-toggle='tab', href='#form', role='tab') АНКЕТА ЭКСПОНЕНТА
        li.nav-item
          a.nav-link(data-toggle='tab', href='#voting', role='tab') ГОЛОСОВАНИЕ ЗА ПРОЕКТЫ
        li.nav-item
          a.nav-link.nav-link--notification(data-toggle='tab', href='#chats', role='tab') ЧАТЫ
    .tab-content
      #profile.tab-pane.fade(role='tabpanel')
      #calendar.tab-pane.fade.show.active(role='tabpanel')
        +calendar
      #applications.tab-pane.fade(role='tabpanel')
        h3.mb-20 Заявки на конкурс
        p.p--sm.mb-30 Обращаем ваше внимание, что при подаче заявки на конкурс, необходимо заполнить анкету и загрузить презентацию за один сеанс. Частично заполненные данные не сохраняются
        +application({
          number: 'Заявка #104',
          title: 'Конкурс «Конкурс проектов», Проект «Персональный робот Адам»',
          modifier: 'chosen'
        })
        +application({
          number: 'Заявка #105',
          title: 'Конкурс «Конкурс проектов», Проект «Проект робот Ева»'
        })
      #form.tab-pane.fade(role='tabpanel')
      #voting.tab-pane.fade(role='tabpanel')
      #chats.tab-pane.fade(role='tabpanel')
