extends ../templates/template.pug
block content
  .page-header
    .container
      .row
        .col-md-3.col-xl-2
          a.page-header__logo(href="#")
            img.page-header__logo-img(src="./img/stvillage-logo.svg", alt)
        .col-md-6.col-xl-8
          .page-header__content
            h3.text-white.mb-0 Участники
        .col-md-3.col-xl-2
          a.page-header__login(href="#")
            h5.mb-0.font-weight-bold Войти в личный кабинет
  .container
    .nav-tabs__wrapper
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link(data-toggle='tab', href='#list', role='tab') Списки полуфиналистов
        li.nav-item
          a.nav-link.active(data-toggle='tab', href='#content', role='tab') Полуфиналы
    .tab-content
      #list.tab-pane.fade(role='tabpanel')
        .my-25.mb-30
          +tag({
            title: 'Digital TNT'
          }).tag--active
          +tag({
            title: 'TalentTech'
          })
          +tag({
            title: 'Deeptech'
          })
          +tag({
            title: 'Cybersec'
          })
          +tag({
            title: 'Digital Health'
          })
          +tag({
            title: 'Solutions for Diagnostics, Therapy and Rehabilitation'
          })
          +tag({
            title: 'Cleantech'
          })
          +tag({
            title: 'Innovative Agro & Farming'
          })
          +tag({
            title: 'Digital Industry'
          })
          +tag({
            title: 'Advanced manufacturing Tech'
          })
          +tag({
            title: 'Smart Infrastructure'
          })
          +tag({
            title: 'High tech Energy&transport'
          })
          +tag({
            title: 'City tech'
          })
        +contestant({
          title: 'Digital TNT'
        })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
            })
        +contestant({
          title: 'TalentTech'
        })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
            })
        +contestant({
          title: 'Deeptech'
        })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
            })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным '
            })
        +contestant({
          title: 'Cybersec'
        })
          .col-sm-6.col-md-4.col-lg-3
            +project({
              dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
            })
      #content.tab-pane.fade.show.active(role='tabpanel')
        .row.mb-20.mb-lg-55.mt-15
          //.col-lg-10.offset-lg-1
            +video({
              picture: 'video-3.jpg'
            })
          .col-lg-9
            +video({
              picture: 'video-3.jpg'
            })
          .col-lg-3.d-flex.flex-wrap.flex-lg-nowrap.flex-lg-column.align-items-start.justify-content-lg-between.mt-20.mt-lg-0
            +tag({
              title: 'Digital TNT'
            }).tag--columned.tag--active
            +tag({
              title: 'TalentTech'
            }).tag--columned
            +tag({
              title: 'Deeptech'
            }).tag--columned
            +tag({
              title: 'Cybersec'
            }).tag--columned
            +tag({
              title: 'Digital Health'
            }).tag--columned
            +tag({
              title: 'Solutions for Diagnostics, Therapy and Rehabilitation'
            }).tag--columned
            +tag({
              title: 'Cleantech'
            }).tag--columned
            +tag({
              title: 'Innovative Agro & Farming'
            }).tag--columned
            +tag({
              title: 'Digital Industry'
            }).tag--columned
            +tag({
              title: 'Advanced manufacturing Tech'
            }).tag--columned
            +tag({
              title: 'Smart Infrastructure'
            }).tag--columned
            +tag({
              title: 'High tech Energy&transport'
            }).tag--columned
            +tag({
              title: 'City tech'
            }).tag--columned
        h3.mb-25 Жюри
        .row.mb-lg-50
          .col-sm-6.col-lg-3
            +jury({
              photo: 'jury-1.jpg',
            })
          .col-sm-6.col-lg-3
            +jury({
              photo: 'jury-2.jpg',
            })
          .col-sm-6.col-lg-3
            +jury({
              photo: 'jury-3.jpg',
            })
          .col-sm-6.col-lg-3
            +jury({
              photo: 'jury-4.jpg',
            })
