extends ../templates/template.pug
block content
  .page-header
    .container
      .row
        .col-md-3.col-xl-2
          a.page-header__logo(href="#")
            img.page-header__logo-img(src="./img/stvillage-logo.svg", alt)
        .col-md-6.col-xl-8
          .page-header__content
            h3.text-white Startup Bazaar
        .col-md-3.col-xl-2
          a.page-header__login(href="#")
            h5.mb-0.font-weight-bold Войти в личный кабинет
  +ticker
  .container
    +filters.mb-10
    .row
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-1.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-2.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-3.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-4.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-5.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-6.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-7.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-8.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-9.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-10.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-11.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-12.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-1.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-2.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-3.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-4.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-5.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-6.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-7.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
        })
      .col-sm-6.col-md-4.col-xl-3
        +exponent-item({
          logo: 'exponent-item-8.png',
          dscr: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием года. Благодаря новейшим...'
        })
    +pagination
