extends ../templates/template.pug
block content
  .bg-gray-light
    .page-header
      .container
        .row
          .col-md-3.col-xl-2
            .page-header__exponent-logo
              a.link-back.page-header__link-back(href="#")
              a.page-header__logo-link(href="#")
                img.page-header__logo-img(src="./img/exponent-item-1.png", alt)
          .col-md-6.col-xl-8
            .page-header__exponent
              .page-header__exponent-top
                h3.mb-0.mr-25.font-weight-bold ПейперНоут
                h5.mb-0.transparent-sm.font-weight-bold PaperNote
              p.mb-20 Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
              p.mb-0.transparent-sm Features which make your product/ project distinguishedFeatures which make your product/project distinguished Features which make your product/project distinguished
          .col-md-3.col-xl-2
            a.page-header__login(href="#")
              h5.mb-0.font-weight-bold Войти в личный кабинет
  .container
    .exponent
      .row
        .col-lg-8
          .exponent__info-wrapper
            .exponent__info
              .exponent__info-header
                h5.mb-5 Стадия проекта
                p.transparent-md.mb-0 Project stage description
              .exponent__info-content
                h4.mb-0.font-weight-bold Startup
            .exponent__info
              .exponent__info-header
                h5.mb-5.font-weight-bold Требуемые инвестиции
                p.transparent-md.mb-0 Funds needed 
              .exponent__info-content
                h4.mb-0.font-weight-bold 1 560 884 Р
            .exponent__info
              .exponent__info-header
                h5.mb-5 Выручка за 2019 год 
                p.transparent-md.mb-0 Actual revenues in 2019
              .exponent__info-content
                h4.mb-0.font-weight-bold 11 560 884 Р
            .exponent__info
              .exponent__info-header
                h5.mb-5 Планы по выручке на 2020 год
                p.transparent-md.mb-0 Estimated revenues in 2020
              .exponent__info-content
                h4.mb-0.font-weight-bold 14 560 884 Р
          .row.mt-20
            .col-lg-6
              h5.mb-10.font-weight-bold Конкурентные преимущества продукта
              p.mb-20.transparent-md Competitive advantages of the product
              p Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
            .col-lg-6
              h5.mb-10.font-weight-bold Особенности ("фишка") продукта/проекта.
              p.mb-20.transparent-md Features which make your product/project distinguished
              p Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
        .col-lg-4
          .exponent__contacts
            a.exponent__sk-logo(href="#")
            p.mb-15.text-white Made in 
              a.text-primary(href="#") Skolkovo
            p.font-weight-bold.mb-20.text-white Республика Коми
            h5.mb-20.text-white Россия, Республика Коми, г. Абакан, ул. Фрунзе д. 65 офис 17
            a.exponent__contacts-item.exponent__contacts-item--website(href="#") abakanstartap.com
            a.exponent__contacts-item.exponent__contacts-item--email(href="mailto:info@abakanstartap.com") info@abakanstartap.com
            a.exponent__contacts-item.exponent__contacts-item--phone(href="tel:+79858889955") +7 985 888 99 55
          .exponent__controls-wrapper
            .exponent__control.exponent__control--presentation
              .exponent__control-content 
                h5.text-gray.mb-10 Презентация проекта
                a.d-block(href="#") Presentation.pdf (12mb)
            .exponent__control.exponent__control--question
              .exponent__control-content 
                h5.text-gray.mb-10 Задать вопрос о проекте
                a.d-block(href="#") Обратная связь
            .exponent__control.exponent__control--conference
              .exponent__control-content 
                h5.text-gray.mb-10 Видеоконференция с участником
                a.d-block(href="#") Начать
      .row.my-30.my-lg-50
        .col-lg-8.offset-lg-2
          +video({
            picture: 'video-2.jpg'
          })
