extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li.my-20(style="list-style: none;")
            a.d-block(href="main.html", style="font-size: 20px;") Main
          li.my-20(style="list-style: none;")
            a.d-block(href="live.html", style="font-size: 20px;") Live
          li.my-20(style="list-style: none;")
            a.d-block(href="exponents.html", style="font-size: 20px;") Exponents
          li.my-20(style="list-style: none;")
            a.d-block(href="exponent-article.html", style="font-size: 20px;") Exponent Article
          li.my-20(style="list-style: none;")
            a.d-block(href="networking.html", style="font-size: 20px;") Networking
          li.my-20(style="list-style: none;")
            a.d-block(href="competition.html", style="font-size: 20px;") Competition
          li.my-20(style="list-style: none;")
            a.d-block(href="cabinet.html", style="font-size: 20px;") Cabinet
