extends ../templates/template.pug
block content
  .bg-dark
    .tracks
      .container
        .tracks__header
          .tracks__header-left
            a.link-back.mr-15.mr-lg-35(href="#")
            h2.mb-0.text-white Треки
          .tracks__slider-controls
            a.tracks__slider-arrow.tracks__slider-arrow--prev(href="#")
            a.tracks__slider-arrow.tracks__slider-arrow--next(href="#")
      .bg-gray
        .container
          .tracks__slider
            +track-item({
              date: '21 мая',
              title: 'Искусство инноваций',
              section: 'Fireside chats',
              picture: 'track-item-1.jpg',
            })
            +track-item({
              date: '21 мая',
              title: 'Конкурс Биомедицинские технологии',
              section: 'Партнерские сессии',
              picture: 'track-item-2.jpg',
              modifier: 'live'
            }).track-item--active
            +track-item({
              date: '22 мая',
              title: 'Конкурс Индустриальные технологии',
              section: 'Партнерские сессии',
              picture: 'track-item-3.jpg',
            })
            +track-item({
              date: '22 мая',
              title: 'Индустрии',
              picture: 'track-item-4.jpg',
            })
            +track-item({
              date: '22 мая',
              title: 'Точка инвестиций',
              picture: 'track-item-5.jpg',
            })
      .tracks__content
        +track-article
  +modal.modal--short
