doctype html
html(lang='ru', prefix='og: http://ogp.me/ns#')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='google-play-app', content='app-id=com.ruvents.startupvillage2019')
    meta(name='author', content='Skolkovo Foundation')
    meta(property='og:title', content='Startup Village')
    meta(property='og:type', content='website')
    meta(property='og:description', content='Самая крупная стартап-конференция в России и странах СНГ для технологических предпринимателей')
    meta(property='og:url', content='https://startupvillage.ru/')
    meta(property='og:image', content='https://startupvillage.ru/img/1.png')
    title Главная / Startup Village 2020
    link#favicon(rel='shortcut icon', href='/favicon.png', type='image/png')
    link(rel='stylesheet', href='css/4.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/update.css')
  body
    script(crossorigin='anonymous', src='https://polyfill.io/v3/polyfill.min.js')
    a.manual(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox) Видео-инструкция
    .sidebar.p-3(data-menu='')
      .d-inline-block.mb-2(role='button')
        svg(width='18', height='17', viewBox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg', data-menu-toggler='')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M9.10234 9.3054L17.1857 16.5404L17.9308 15.8735L9.84746 8.63847L17.7868 1.53232L17.0417 0.865391L9.10234 7.97155L1.01903 0.736572L0.273903 1.4035L8.35721 8.63847L0.129944 16.0023L0.875069 16.6692L9.10234 9.3054Z', fill='black')
      .d-flex.flex-column
        a.nav-link.mr-1-5.mb-1.font-weight-bold.active(href='/')
          | Главная
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/about')
          | О конференции
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/program')
          | Программа
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/speakers')
          | Спикеры
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/contest')
          | Конкурс
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/participants')
          | Участники
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/exhibitors')
          | Expo
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/mentor-hours')
          | Mentor Hours
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/partners')
          | Партнеры
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/press-center/news')
          | Пресс-центр
        a.nav-link.mr-1-5.mb-1.font-weight-bold(href='/contacts')
          | Контакты
    header.container
    main#main.index.overflow-x-hidden
      .index-header.bg-black
        .index-header-first.position-relative.d-flex.justify-content-between.flex-column.align-items-center.pb-2
          .position-whole.overflow-hidden
            img.position-whole.z-index-1.object-fit-cover(src='./img//hero.jpg', style='background-color: black;')
          .position-relative.z-index-2.mt-2.align-items-md-center.w-100
            #navbar.navbar.mb-g.position-relative.z-index-2.navbar-index
              .container.d-md-flex.d-none.align-items-center.justify-content-between.flex-nowrap
                span.hidden-xs-down
                  a.btn.btn-green.btn-register.font-weight-bold.btn-small.px-3.mr-2(href='/registration')
                    | Зарегистрируйтесь
                nav.mr-1(style='margin-bottom: -0.375rem;')
                  a.nav-link.mr-1-5.font-weight-bold.active(href='/')
                    | Главная
                  a.nav-link.mr-1-5.font-weight-bold(href='/about')
                    | О конференции
                  a.nav-link.mr-1-5.font-weight-bold(href='/program')
                    | Программа
                  a.nav-link.mr-1-5.font-weight-bold(href='/speakers')
                    | Спикеры
                  a.nav-link.mr-1-5.font-weight-bold(href='/contest')
                    | Конкурс
                  a.nav-link.mr-1-5.font-weight-bold(href='/participants')
                    | Участники
                  a.nav-link.mr-1-5.font-weight-bold(href='/exhibitors')
                    | Expo
                  a.nav-link.mr-1-5.font-weight-bold(href='/mentor-hours')
                    | Mentor Hours
                  a.nav-link.mr-1-5.font-weight-bold(href='/partners')
                    | Партнеры
                  a.nav-link.mr-1-5.font-weight-bold(href='/press-center/news')
                    | Пресс-центр
                  a.nav-link.mr-1-5.font-weight-bold(href='/contacts')
                    | Контакты
                .text-nowrap.d-inline
                  .language.language-dark.text-nowrap
                    a.text-green.font-weight-bold.text-uppercase.mr-2.language-active(href='/')
                      | ru
                    a.text-green.font-weight-bold.text-uppercase.mr-1(href='/en/')
                      | en
              .d-flex.align-items-center.container.d-md-none
                .ml-1
                  .language.language-dark.text-nowrap
                    a.text-green.font-weight-bold.text-uppercase.mr-2.language-active(href='/')
                      | ru
                    a.text-green.font-weight-bold.text-uppercase.mr-1(href='/en/')
                      | en
                a.navbar-user.ml-auto(href='/registration')
                  svg(width='24', height='26', viewBox='0 0 24 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M22.8286 20.8625C22.2391 19.4662 21.3836 18.1978 20.3098 17.1281C19.2393 16.0553 17.9712 15.2 16.5754 14.6094C16.5629 14.6031 16.5504 14.6 16.5379 14.5938C18.4848 13.1875 19.7504 10.8969 19.7504 8.3125C19.7504 4.03125 16.2817 0.5625 12.0004 0.5625C7.71919 0.5625 4.25044 4.03125 4.25044 8.3125C4.25044 10.8969 5.51607 13.1875 7.46294 14.5969C7.45044 14.6031 7.43794 14.6062 7.42544 14.6125C6.02544 15.2031 4.76919 16.05 3.69107 17.1313C2.61829 18.2018 1.76296 19.4699 1.17232 20.8656C0.592076 22.232 0.279138 23.697 0.250444 25.1812C0.24961 25.2146 0.25546 25.2478 0.26765 25.2788C0.27984 25.3099 0.298122 25.3382 0.321421 25.3621C0.344719 25.386 0.372561 25.4049 0.403307 25.4179C0.434053 25.4308 0.467081 25.4375 0.500444 25.4375H2.37544C2.51294 25.4375 2.62232 25.3281 2.62544 25.1938C2.68794 22.7812 3.65669 20.5219 5.36919 18.8094C7.14107 17.0375 9.49419 16.0625 12.0004 16.0625C14.5067 16.0625 16.8598 17.0375 18.6317 18.8094C20.3442 20.5219 21.3129 22.7812 21.3754 25.1938C21.3786 25.3313 21.4879 25.4375 21.6254 25.4375H23.5004C23.5338 25.4375 23.5668 25.4308 23.5976 25.4179C23.6283 25.4049 23.6562 25.386 23.6795 25.3621C23.7028 25.3382 23.721 25.3099 23.7332 25.2788C23.7454 25.2478 23.7513 25.2146 23.7504 25.1812C23.7192 23.6875 23.4098 22.2344 22.8286 20.8625ZM12.0004 13.6875C10.5661 13.6875 9.21607 13.1281 8.20044 12.1125C7.18482 11.0969 6.62544 9.74687 6.62544 8.3125C6.62544 6.87813 7.18482 5.52812 8.20044 4.5125C9.21607 3.49687 10.5661 2.9375 12.0004 2.9375C13.4348 2.9375 14.7848 3.49687 15.8004 4.5125C16.8161 5.52812 17.3754 6.87813 17.3754 8.3125C17.3754 9.74687 16.8161 11.0969 15.8004 12.1125C14.7848 13.1281 13.4348 13.6875 12.0004 13.6875Z', fill='black')
                .navbar-menu-toggler(data-menu-toggler='', role='button')
                  svg(width='26', height='23', viewBox='0 0 26 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 1H26', stroke='black', stroke-width='2')
                    path(d='M0 11.5H26', stroke='black', stroke-width='2')
                    path(d='M0 21.5H26', stroke='black', stroke-width='2')
          .index-header-first-container.position-relative.z-index-2.text-green.px-1.mt-md-0.mt-4
            .position-relative.z-index-2
              .row.align-items-center
                .col-md-6.pr-xl-6.pr-md-2.mb-md-0.mb-3.px-2.pl-md-0
                  .index-header-first-date.mb-md-2.mb-1
                    | 21–22 мая 2020
                  .mb-md-3.mb-2
                    img.w-100.mw-100(src='./img/logo-hero.svg')
                  .index-header-first-livestream
                    | LIVESTREAM
                  .index-header-first-format
                    | Online-only конференция
                .col-md-6.text-white
                  .index-header-first-track
                    a.index-header-first-track-media(href="#", style="background-image: url(./img/index-track.jpg);")
                    .index-header-first-track-content
                      .index-header-first-track-left
                        .index-header-first-track-title Конкурс Индустриальные технологии
                        .index-header-first-track-dscr Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием 
                        .index-header-first-track-date 18.08.2020 14:30
                      a.btn.btn-green.index-header-first-track-btn(href="#") Live
                  //p.index-header-first-description.mb-2
                    | Startup Village Livestream’20 станет виртуальным событием и главным бесплатным технологическим мероприятием года. Благодаря новейшим технологиям все участники смогут не только выбирать и просматривать наиболее интересные лекции и сессии, встречаться с менторами и инвесторами онлайн, но и общаться со спикерами и друг с другом из любой точки мира в режиме реального времени
                  //.text-md-left.text-center
                    a#registration_button.btn.btn-green.font-weight-bold.px-lg-3(href='/registration') Бесплатная регистрация
              
          .d-flex.flex-md-row.flex-column.align-items-center.position-relative.z-index-2.icons-dark.text-center.text-md-left.container.pt-5
            .mb-md-0.mb-2
              a(href='https://www.facebook.com/StartupVlg', target='_blank')
                i.icon.icon-round.icon-social.icon-facebook.mr-0-5
              a(href='https://vk.com/startupvlg', target='_blank')
                i.icon.icon-round.icon-social.icon-vk.mr-0-5
              a(href='https://twitter.com/StartupVlg', target='_blank')
                i.icon.icon-round.icon-social.icon-twitter.mr-0-5
              a(href='https://www.instagram.com/startupvillage/', target='_blank')
                i.icon.icon-round.icon-social.icon-instagram.mr-0-5
              a(href='https://t.me/startupvillage_sk', target='_blank')
                i.icon.icon-round.icon-social.icon-telegram.white-on-hover
                  img.telegram-black(src='/img/index/icon-telegram.svg')
                  img.telegram-white(src='/img/index/icon-telegram-white.svg')
      .tile-black
        .tracks
          .container
            .tracks__header
              a.tracks__slider-arrow.tracks__slider-arrow--prev.slick-arrow(href='#', style='')
              h2.mb-0.text-white Деловая программа
              a.tracks__slider-arrow.tracks__slider-arrow--next.slick-arrow(href='#', style='')
              
            .tracks__slider
              a.track-item(href='#')
                .track-item__picture(style='background-image: url(./img/track-item-1.jpg);')
                .track-item__content
                  .track-item__date 21 мая
                  .track-item__content-main
                    .track-item__header Искусство инноваций
                    .track-item__section Fireside chats
              a.track-item.track-item--active(href='#')
                .track-item__picture(style='background-image: url(./img/track-item-2.jpg);')
                .track-item__live Live
                .track-item__content
                  .track-item__date 21 мая
                  .track-item__content-main
                    .track-item__header Конкурс Биомедицинские технологии
                    .track-item__section Партнерские сессии
              a.track-item(href='#')
                .track-item__picture(style='background-image: url(./img/track-item-3.jpg);')
                .track-item__content
                  .track-item__date 22 мая
                  .track-item__content-main
                    .track-item__header Конкурс Индустриальные технологии
                    .track-item__section Партнерские сессии
              a.track-item(href='#')
                .track-item__picture(style='background-image: url(./img/track-item-4.jpg);')
                .track-item__content
                  .track-item__date 22 мая
                  .track-item__content-main
                    .track-item__header Индустрии
              a.track-item(href='#')
                .track-item__picture(style='background-image: url(./img/track-item-5.jpg);')
                .track-item__content
                  .track-item__date 22 мая
                  .track-item__content-main
                    .track-item__header Точка инвестиций
      .tile-black.pt-3.pt-md-5.pb-sm-10.pb-5
        section.position-relative.z-index-2
          .container
            h2.h1.font-weight-normal.pb-md-5.pb-2.mb-0.text-center
              | Как это будет
            .row
              .col-md-4.col-sm-6.col-12.d-flex.justify-content-center.mb-md-3.mb-1
                .index-features-item.text-center
                  img(src='/img/index/how_it_will_be/program.svg')
                  h3.h4.mb-1.font-weight-bold
                    | Программа
                  div
                    | Смотри livestream сессии, комментируй и задавай вопросы спикерам в режиме реального времени
              .col-md-4.col-sm-6.col-12.d-flex.justify-content-center.mb-md-3.mb-1
                .index-features-item.text-center
                  img(src='/img/index/how_it_will_be/competition.svg')
                  h3.h4.mb-1.font-weight-bold
                    | Конкурс
                  div
                    | Выступи онлайн перед экспертами и забери 3 миллиона рублей
              .col-md-4.col-sm-6.col-12.d-flex.justify-content-center.mb-md-3.mb-1
                .index-features-item.text-center
                  img(src='/img/index/how_it_will_be/exhibition.svg')
                  h3.h4.mb-1.font-weight-bold
                    | Выставка
                  div
                    | Создай визитку своего продукта и жди виртуальных гостей
              .col-md-4.col-sm-6.col-12.d-flex.justify-content-center.mb-md-3.mb-1
                .index-features-item.text-center
                  img(src='/img/index/how_it_will_be/mentor_hours.svg')
                  h3.h4.mb-1.font-weight-bold
                    | Mentor Hours
                  div
                    | Получи экспертное мнение лучших менторов о твоем проекте по видео-связи
              .col-md-4.col-sm-6.col-12.d-flex.justify-content-center.mb-md-3.mb-1
                .index-features-item.text-center
                  img(src='/img/index/how_it_will_be/group_chats.svg')
                  h3.h4.mb-1.font-weight-bold
                    | Групповые чаты
                  div
                    | Обсуждай ведущие технологические тренды с участниками конференции
              .col-md-4.col-sm-6.col-12.d-flex.justify-content-center.mb-md-3.mb-1
                .index-features-item.text-center
                  img(src='/img/index/how_it_will_be/networking.svg')
                  h3.h4.mb-1.font-weight-bold
                    | Networking
                  div
                    | Напиши любому участнику конференции
      .tile-black
        .index-header-numbers.container.pb-5
          .row.justify-content-between.position-relative.z-index-2.text-center
            .text-white.col-12.col-md-auto.mb-1-5.mb-md-0
              .index-header-number.font-weight-bold
                | 15000
              .h4.font-weight-bold
                | участников
            .text-white.col-6.col-md-auto.mb-1-5.mb-md-0
              .index-header-number.font-weight-bold
                | 300
              .h4.font-weight-bold
                | спикеров
            .text-white.col-6.col-md-auto.mb-1-5.mb-md-0
              .index-header-number.font-weight-bold
                | 80
              .h4.font-weight-bold
                | cтран
            .text-white.col-6.col-md-auto
              .index-header-number.font-weight-bold
                | 4500
              .h4.font-weight-bold
                | cтартапов
            .text-white.col-6.col-md-auto
              .index-header-number.font-weight-bold
                | 1000
              .h4.font-weight-bold
                | инвесторов
      .index-speakers.tile-black.pt-3.pt-md-5
        section.position-relative.z-index-2
          .container
            h2.h1.font-weight-normal.pb-5.mb-0 Спикеры
          .owl-carousel.speakers
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/10/62088880c2b697f2f13b3c600e8892.png')
                .speakers__item-caption
                  a(href='/speakers/268')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Tom
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Gruber
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Siri
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/ed/6c9e3d7017487e14e8dfa1d9d41b3d.png')
                .speakers__item-caption
                  a(href='/speakers/182')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Anima
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Anandkumar
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 NVIDIA
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/5b/7ea8b290cfdc411878c70a49903d58.png')
                .speakers__item-caption
                  a(href='/speakers/230')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Chris
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Barton
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Shazam
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/c7/90fb174a36ad9e5d0ab29821d85261.png')
                .speakers__item-caption
                  a(href='/speakers/213')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Andrey
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Doronichev
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Google
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/1f/27a46d1fb1b7c48711484a059d6b1d.png')
                .speakers__item-caption
                  a(href='/speakers/205')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Casper
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Klynge
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Microsoft
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/78/bf52f47d31a3ec6aa25d678d125034.png')
                .speakers__item-caption
                  a(href='/speakers/227')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Riana
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Lynn
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Journey Foods
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/1a/b9a9dd6ec7fd4778f87b0f59e1d6a0.png')
                .speakers__item-caption
                  a(href='/speakers/130')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 David
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Yang
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Yva.ai
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/75/aa7297cb338e474815c08ace2dad29.png')
                .speakers__item-caption
                  a(href='/speakers/69')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Guy
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Diedrich
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Cisco
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/2c/445747355433135a1de9f72c0cf774.png')
                .speakers__item-caption
                  a(href='/speakers/128')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Riccardo
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Masucci
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Intel
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/e2/0bf07113c7a269e259ce78878f0ea4.png')
                .speakers__item-caption
                  a(href='/speakers/110')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Samaira
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Mehta
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Coder Bunnyz
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/b8/9238e487af1188e03453ce9b9f1609.png')
                .speakers__item-caption
                  a(href='/speakers/90')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Carlos
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Eduardo Espinal
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Seedcamp
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/6a/cdbb96e2ac3451fe4ba28c0a397066.png')
                .speakers__item-caption
                  a(href='/speakers/116')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Raffaela
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Rein
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 WildWildVentures
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/90/2b9064b9b1ce645891a0994133bf36.png')
                .speakers__item-caption
                  a(href='/speakers/121')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Danny
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Perekalsky
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Utkonos ONLINE
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/7f/cdf68e2d92c080f743dfafc1698e97.png')
                .speakers__item-caption
                  a(href='/speakers/66')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Jonathan
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Medved
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 OurCrowd
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/ba/e0336f9c70eeec732e6108d6c0bb02.png')
                .speakers__item-caption
                  a(href='/speakers/86')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Noelle
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Silver
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 NPR
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/45/3ddac1bb4ba2380969596b1b0444e7.png')
                .speakers__item-caption
                  a(href='/speakers/192')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Gordon
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Sanghera
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Oxford Nanopore Technologies
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/f5/ffcd47dd50732444f25c69dfaa49e2.png')
                .speakers__item-caption
                  a(href='/speakers/68')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Barbod
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Namini
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 HV Ventures
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/b2/e2244bd6c408dc0fa4960f02c4b641.png')
                .speakers__item-caption
                  a(href='/speakers/77')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Victoria
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Repa
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 BetterMe
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/96/a8fd9e5a8eb4f1b05e635f0508bca8.png')
                .speakers__item-caption
                  a(href='/speakers/94')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Alexander
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Vidiborskiy
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Atomico
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/be/555d18529b1452b47a8c8684918934.png')
                .speakers__item-caption
                  a(href='/speakers/224')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Semyon
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Dukach
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 One Way Ventures
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/c3/e6f160bad4ede6ebefc79b08148762.png')
                .speakers__item-caption
                  a(href='/speakers/45')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Sissel
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Hansen
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Startup Guide
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/b7/9da8349345395f393f0655e019456a.png')
                .speakers__item-caption
                  a(href='/speakers/214')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Vitor
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Magnani
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Loggi
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/52/1d56481ac341de90c160a41728ea2d.png')
                .speakers__item-caption
                  a(href='/speakers/164')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Chitra
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Stern
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Elegant Group
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/9d/293b646c76e8c547d6f9d94ab9d73b.png')
                .speakers__item-caption
                  a(href='/speakers/40')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Marie-Helene
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Ametsreiter
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Speedinvest
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/7b/288a6d4c3051720eaf14fc5ec9b57c.png')
                .speakers__item-caption
                  a(href='/speakers/137')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Robert
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 De Feo
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Amazon Web Services
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/52/f1468c62884eff5531cb13e97ad166.png')
                .speakers__item-caption
                  a(href='/speakers/123')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Alexey
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Kornya
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 MTS
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/7c/d92646315eff3ad1478d575ec14e35.png')
                .speakers__item-caption
                  a(href='/speakers/255')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Wingee
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Sampaio
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Cartier Women’s Initiative
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/6b/0537e60547b26ddc5194a6d7df52f1.png')
                .speakers__item-caption
                  a(href='/speakers/145')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Amir
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Amidi
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Plug and Play
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/bd/160177f211b151b16c122076b6f52d.png')
                .speakers__item-caption
                  a(href='/speakers/278')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 John
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Butler
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Bayer
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/14/1b27043664be9969cb2b760f4b7e71.png')
                .speakers__item-caption
                  a(href='/speakers/271')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Jean-Louis
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Stasi
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Schneider Electric
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/84/582496cb12d83f301cb22ca829e1dc.png')
                .speakers__item-caption
                  a(href='/speakers/82')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Galit
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Ariel
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 WondARlands - Spatial Innovation Lab
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/39/4c5d8114ef77259d8a93cc663bbdde.png')
                .speakers__item-caption
                  a(href='/speakers/178')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Konstantin
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Sonin
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 University of Chicago
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/78/a91333a9145935af24b3ad50a12a39.png')
                .speakers__item-caption
                  a(href='/speakers/208')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Dmitry
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Zauers
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Gazprombank
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/4a/bc133855df433dfec044ca98d0117b.png')
                .speakers__item-caption
                  a(href='/speakers/80')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Brigitte
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Baumann
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Go Beyond Investing
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/52/0fa03617545c9b4622695af9419773.png')
                .speakers__item-caption
                  a(href='/speakers/258')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Abdulaziz
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Al Khalifa
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Qatar Development Bank
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/82/fdd588b64db09d095defc4fcb02876.png')
                .speakers__item-caption
                  a(href='/speakers/273')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Marten
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Mickos
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 HackerOne
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/40/d44218e5644f47e6eea7350215e196.png')
                .speakers__item-caption
                  a(href='/speakers/36')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Ting
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Shih
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 ClickMedix
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/7b/948f501d608c5b9cabf19159f1dc91.png')
                .speakers__item-caption
                  a(href='/speakers/261')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Peter
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Sondergaard
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 The Sondergaard Group
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/35/4e13d1196bdf96e696d5b229642c0f.png')
                .speakers__item-caption
                  a(href='/speakers/46')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Karen
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Brown
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Bridge Arrow
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/b0/7451ee37a9afff9d9a8834b939c2eb.png')
                .speakers__item-caption
                  a(href='/speakers/139')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Max
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Kraynov
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Aviasales
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/80/ecdc4223e9cc6504d3af2f12633974.png')
                .speakers__item-caption
                  a(href='/speakers/274')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Neil
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Cawse
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Geotab Inc
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/6c/4e72e0699ac75ed47be2dbc27c008c.png')
                .speakers__item-caption
                  a(href='/speakers/199')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Ancha
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Baranova
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 George Mason University
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/ce/d89a3cc22e0c48b03723f7a2055d17.png')
                .speakers__item-caption
                  a(href='/speakers/291')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Birger
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Steen
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Nordic Semiconductor
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/f1/a85995316331cb080fda597dd07814.png')
                .speakers__item-caption
                  a(href='/speakers/173')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Herman
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Tinga
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Lenta
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/28/9d1e13bac51025cc921b77337aaebe.png')
                .speakers__item-caption
                  a(href='/speakers/76')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Boris
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Kim
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 QIWI
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/8b/831a79686c28b5b37a4509046c4702.png')
                .speakers__item-caption
                  a(href='/speakers/180')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Irina
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Shikhman
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 YouTube project "And talk?"
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/7a/8422fa1ae0e45fc91228bdbf7c2b93.png')
                .speakers__item-caption
                  a(href='/speakers/44')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Nicolas
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Brusson
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 BlaBlaCar
            div
              figure.speakers__item-picture.position-relative
                img(src='https://startupvillage.ru/media/cache/speaker_index/uploads/08/46973ba67213b22f1b5ea9392f877b.png')
                .speakers__item-caption
                  a(href='/speakers/50')
                    .d-flex.flex-column.h3
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-0 Crimson
                      div
                        .font-weight-bold.d-inline.bg-black.px-0-5.text-green.mb-1 Rose
                    p.line-height-2.font-weight-bold.d-inline-block.bg-black.text-white.px-0-5 Burning Man Project
      .competition.tile-black.pt-2.pb-4.pt-md-5.pb-md-6
        section.container
          h2.h1.font-weight-normal.mb-xl-6.mb-3.text-center Конкурс стартапов
          .d-flex.flex-xl-row.flex-column.align-items-center.justify-content-between.mb-md-6.mb-3
            .competition-item-wrapper.mb-xl-0.mb-3
              .competition-item.competition-item-first.text-center
                .competition-item-content
                  .competition-caption.mb-xl-2.mb-1
                    | I место
                  .competition-number.font-weight-bold.text-nowrap
                    | 3 000 000 ₽
            .competition-item-wrapper.mb-xl-0.mb-3
              .competition-item.competition-item-second.text-center
                .competition-item-content
                  .competition-caption.mb-xl-2.mb-1
                    | II место
                  .competition-number.font-weight-bold.text-nowrap
                    | 2 000 000 ₽
            .competition-item-wrapper
              .competition-item.competition-item-third.text-center
                .competition-item-content
                  .competition-caption.mb-xl-2.mb-1
                    | III место
                  .competition-number.font-weight-bold.text-nowrap
                    | 1 000 000 ₽
          h2.competition-total.text-center.px-2
            | Общий призовой фонд 
            span.competition-total-money 24 миллиона рублей
          .mt-md-5.mt-3.text-center
            a.btn.btn-green.px-5(href='/contest') Узнать больше
      .tile-black.pb-md-9.pb-2.pt-md-8.pt-4.overflow-x-hidden.position-relative
        section.container(style='position: static;')
          .timeline-wave.timeline-wave-left
            img(src='/img/index/timeline_wave.svg')
          .timeline-wave.timeline-wave-right
            img(src='/img/index/timeline_wave.svg')
          .row.timeline-row.no-gutters
            .col-md.col-6.timeline-col
              section.timeline-section
                time 25.02.2020
                |                         Начало сбора заявок на конкурс
            .col-md.col-6.timeline-col
              section.timeline-section
                time 20.04.2020
                |                         Запуск сервиса назначения встреч
            .col-md.col-6.timeline-col
              section.timeline-section
                time 26.04.2020
                |                         Окончание сбора заявок на выставку Startup Bazaar
            .col-md.col-6.timeline-col
              section.timeline-section
                time 01.05.2020
                |                         Окончание сбора заявок на конкурс стартапов
            .col-md.col-6.timeline-col
              section.timeline-section
                time 14.05.2020
                |                         Объявление полуфиналистов конкурса
      .tile-gray.pt-md-4.pt-1.pb-md-6.pb-2
        section.container
          .feedback.border.border-2
            .feedback-carousel.py-2
              div
                .feedback-item.row.px-2
                  .col-md-4.mb-1.d-flex.flex-md-column
                    .feedback-item-photo
                      .cell-1-1.mr-1.mr-md-1
                        .cell-contents
                          img.object-fit-cover.object-position-center.position-whole(src='/img/index/feedback/vesterbaka.jpg')
                    div
                      strong.d-block.feedback-item-name.mb-0-5.mb-md-1
                        | Петер                                                             Вестербака
                      .feedback-item-company-position
                        | Angry Birds
                        br
                        |                                 Основатель игры
                  .col-md-8.pl-md-2
                    div(style='font-weight: 500;')
                      p
                        | Startup Village проделал важную работу, собрав вместе стартапы со всей России, инвесторов
                        | и руководителей компаний из многих стран.
              div
                .feedback-item.row.px-2
                  .col-md-4.mb-1.d-flex.flex-md-column
                    .feedback-item-photo
                      .cell-1-1.mr-1.mr-md-1
                        .cell-contents
                          img.object-fit-cover.object-position-center.position-whole(src='/img/index/feedback/knut.jpg')
                    div
                      strong.d-block.feedback-item-name.mb-0-5.mb-md-1
                        | Кнут                                                             Зауэр
                      .feedback-item-company-position
                        | Hyperloop Tech
                        br
                        |                                 Вице-президент
                  .col-md-8.pl-md-2
                    div(style='font-weight: 500;')
                      p
                        | Я путешествую по миру и ищу партнеров для нашего проекта и наших технологий.
                        | Здесь я вижу большой потенциал для сотрудничества.
              div
                .feedback-item.row.px-2
                  .col-md-4.mb-1.d-flex.flex-md-column
                    .feedback-item-photo
                      .cell-1-1.mr-1.mr-md-1
                        .cell-contents
                          img.object-fit-cover.object-position-center.position-whole(src='/img/index/feedback/gomes.jpg')
                    div
                      strong.d-block.feedback-item-name.mb-0-5.mb-md-1
                        | Таллис                                                             Гомес
                      .feedback-item-company-position
                        | Singu
                        br
                        | CEO
                  .col-md-8.pl-md-2
                    div(style='font-weight: 500;')
                      p
                        | Мероприятие великолепно, трудно представить лучше!
              div
                .feedback-item.row.px-2
                  .col-md-4.mb-1.d-flex.flex-md-column
                    .feedback-item-photo
                      .cell-1-1.mr-1.mr-md-1
                        .cell-contents
                          img.object-fit-cover.object-position-center.position-whole(src='/img/index/feedback/tenoris.jpg')
                    div
                      strong.d-block.feedback-item-name.mb-0-5.mb-md-1
                        | Фабио                                                             Тентони
                      .feedback-item-company-position
                        | ENEL
                        br
                        |                                 Глава инновационного хаба
                  .col-md-8.pl-md-2
                    div(style='font-weight: 500;')
                      p
                        | Могу сказать с уверенностью, что мы будем тут и в следующем
                        | году. Здесь так много стартапов, прекрасных идей и предпринимателей.
                        | Это очень круто для больших корпораций как мы быть в центре знаний,
                        | инноваций, и, может быть, мы найдем здесь стартапы для сотрудничества.
              div
                .feedback-item.row.px-2
                  .col-md-4.mb-1.d-flex.flex-md-column
                    .feedback-item-photo
                      .cell-1-1.mr-1.mr-md-1
                        .cell-contents
                          img.object-fit-cover.object-position-center.position-whole(src='/img/index/feedback/pollok.jpg')
                    div
                      strong.d-block.feedback-item-name.mb-0-5.mb-md-1
                        | Тристан                                                             Поллок
                      .feedback-item-company-position
                        | 500 Startups
                        br
                        |                                 Сооснователь
                  .col-md-8.pl-md-2
                    div(style='font-weight: 500;')
                      p
                        | Определенно я насладился мероприятием! Даже несмотря на холодную
                        | погоду все залы былы полными. Я был приятно удивлен глубиной
                        | и разнообразием вопросов от аудитории после моего выступления.
                        | Startup Village — это интересное разнообразие людей, индустрий
                        | и компаний.
              div
                .feedback-item.row.px-2
                  .col-md-4.mb-1.d-flex.flex-md-column
                    .feedback-item-photo
                      .cell-1-1.mr-1.mr-md-1
                        .cell-contents
                          img.object-fit-cover.object-position-center.position-whole(src='/img/index/feedback/grey.jpg')
                    div
                      strong.d-block.feedback-item-name.mb-0-5.mb-md-1
                        | Обри                                                             ди Грей
                      .feedback-item-company-position
                        | SENS Research Foundation
                        br
                        |                                  Главный директор по науке
                  .col-md-8.pl-md-2
                    div(style='font-weight: 500;')
                      p
                        | Startup Village — прекрасное мероприятие! «Сколково»,
                        | конечно, делает много замечательных вещей по всей России, и именно
                        | это событие придает большое значение более прогрессивным идеям, которые
                        | выдвигаются небольшими компаниями в России и других странах.
                        | Сейчас мы делаем много такого же в Калифорнии
                        | и по всему миру, поэтому я очень рад, что смог приехать.
    footer#footer.bg-black.text-white
      .container.px-xl-g.pt-3.pb-md-5.pb-3
        .d-md-none.d-block.mb-3.text-center
          a(href='/')
            img(style='max-width: 11rem;', src='/img/index/logo.svg', alt='')
        .text-center
          .font-weight-bold.mb-md-3.years
            a.h2.font-weight-bold.text-white.mr-2(href='http://2017.startupvillage.ru/', target='_blank')
              | 2017
            a.h2.font-weight-bold.text-white.mr-2(href='http://2018.startupvillage.ru/', target='_blank')
              | 2018
            a.h2.font-weight-bold.text-white(href='http://2019.startupvillage.ru/', target='_blank')
              | 2019
        .row.align-items-center
          .col-md-4.mb-xl-1.mb-md-0.mb-2.text-center.text-md-left
            .d-none.d-md-flex.align-items-center.text-white.mt-md-0-5.mt-1.icons-dark
              a.d-md-inline-block.d-block.mr-3.mb-xl-0.mb-1(href='/', style='width: 10rem;')
                img.img-fluid(src='/img/index/logo.svg', alt='')
              a(href='https://www.facebook.com/StartupVlg', target='_blank')
                i.icon.icon-round-sm.icon-social.icon-facebook.mr-1
              a(href='https://vk.com/startupvlg', target='_blank')
                i.icon.icon-round-sm.icon-social.icon-vk.mr-1
              a(href='https://twitter.com/StartupVlg', target='_blank')
                i.icon.icon-round-sm.icon-social.icon-twitter.mr-1
              a(href='https://www.instagram.com/startupvillage/', target='_blank')
                i.icon.icon-round-sm.icon-social.icon-instagram.mr-1
              a(href='https://t.me/startupvillage_sk', target='_blank')
                i.icon.icon-round-sm.icon-social.icon-telegram
                  img.telegram-black(src='/img/index/icon-telegram.svg')
                  img.telegram-red(src='/img/index/icon-telegram-red.svg')
          .col-md-4.mb-2.mb-md-0.text-center
            a.btn.d-block.btn-green.d-block.d-md-inline-block.font-weight-bold.btn-small.px-3(href='/registration') Бесплатная регистрация
          .col-md-4.text-md-right.text-center
            .d-flex.h-100.flex-column.justify-content-between
              .font-weight-light.mt-xl-0.mt-md-1.footer-text-info.mb-1
                span.text-nowrap.d-block
                  | Телефон: 
                  a.text-white(href='tel:+74959560033') +7 (495) 956-00-33
                span.text-nowrap
                  | email: 
                  a.text-green(href='mailto:startupvillage@sk.ru') startupvillage@sk.ru
              .font-weight-light.footer-text-info
                span.text-nowrap © Startup Village 2020.
                span.text-nowrap Все права защищены
    script(src='js/vendor.js')
    script(src='js/update.js')
