extends ../templates/template.pug
block content
  .bg-dark
    .page-header
      .container
        .row
          .col-md-3.col-xl-2
            a.page-header__logo(href="#")
              img.page-header__logo-img(src="./img/stvillage-logo.svg", alt)
          .col-md-6.col-xl-8
            .page-header__content
              h3.text-white Networking
          .col-md-3.col-xl-2
            a.page-header__login(href="#")
              h5.mb-0.font-weight-bold Войти в личный кабинет
    .container.pb-40
      +chat-common({
        modifier: 'general',
        title: 'Общий чат'
      }).chat-common--general
      .row.mt-40.mb-30
        .col-sm-6.col-lg-4.d-flex
          +chat-front({
            picture: 'chat-1.jpg',
            title: 'Чаты по интересам'
          })
        .col-sm-6.col-lg-4.d-flex
          +chat-front({
            picture: 'chat-2.jpg',
            title: 'Персональный чат'
          })
        .col-sm-6.col-lg-4.d-flex
          +chat-front({
            picture: 'chat-3.jpg',
            title: 'Задать вопрос спикеру'
          })
        .col-sm-6.col-lg-4.d-flex
          +chat-front({
            picture: 'chat-4.jpg',
            title: 'Посещение выставки'
          })
        .col-sm-6.col-lg-4.d-flex
          +chat-front({
            picture: 'chat-5.jpg',
            title: 'Mentor hours'
          })
        .col-sm-6.col-lg-4.d-flex
          +chat-front({
            picture: 'chat-6.jpg',
            title: 'Обсудить сессию'
          })
      h3.text-white.mb-25 Правила пользования
      p.text-white Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
      p.text-white Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
      ul.text-white.mt-40
        li
          span.transparent-md Startup Village Livestream’20 станет виртуальным 
        li
          span.transparent-md Событием и главным бесплатным техноло гическим мероприятием 
        li
          span.transparent-md Startup Village Livestream’20 станет виртуальным событием
        li
          span.transparent-md Startup  станет виртуальным событием  
        li
          span.transparent-md Главным бесплатным техноло гическим мероприятием
        li
          span.transparent-md Startup Village Livestream’20 станет виртуальным событием
