.exponent {
  padding-top: 58px;
}

.exponent__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 0 20px;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.exponent__info + .exponent__info {
  border-top: 1px solid rgba(#000, 0.2);
}

.exponent__info:first-child {
  padding-top: 0;
}

.exponent__info-header {
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.exponent__contacts {
  background: #000;
  color: #fff;
  padding: 35px;
  position: relative;

  @include media-breakpoint-down(lg) {
    padding: 15px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  a {
    @include transition;
  }
}

.exponent__sk-logo {
  @include transition;
  background: url('../img/sk-logo.png') no-repeat right top;
  background-size: contain;
  height: 51px;
  position: absolute;
  right: 0;
  top: 0;
  width: 74px;
}

.exponent__sk-logo:hover {
  opacity: 0.75;
}

.exponent__contacts-item {
  align-items: center;
  display: flex;
}

.exponent__contacts-item::before {
  content: '';
  display: block;
  flex-shrink: 0;
  height: 16px;
  margin-right: 16px;
  width: 16px;
}

.exponent__contacts-item + .exponent__contacts-item {
  margin-top: 10px;
}

.exponent__contacts-item--website::before {
  background: url('../img/icon-globe.svg') no-repeat center;
  background-size: contain;
}

.exponent__contacts-item--email::before {
  background: url('../img/icon-mail.svg') no-repeat center;
  background-size: contain;
}

.exponent__contacts-item--phone::before {
  background: url('../img/icon-phone.svg') no-repeat center;
  background-size: contain;
}

.exponent__controls-wrapper {
  background: $gray;
  padding: 45px 30px;

  @include media-breakpoint-down(lg) {
    padding: 15px;
  }
}

.exponent__control {
  display: flex;
}

.exponent__control::before {
  content: '';
  display: block;
  flex-shrink: 0;
  height: 32px;
  margin-right: 26px;
  width: 32px;
}

.exponent__control + .exponent__control {
  margin-top: 36px;
}

.exponent__control--presentation::before {
  background: url('../img/icon-presentation.svg') no-repeat center;
  background-size: contain;
}

.exponent__control--question::before {
  background: url('../img/icon-question.svg') no-repeat center;
  background-size: contain;
}

.exponent__control--conference::before {
  background: url('../img/icon-conference.svg') no-repeat center;
  background-size: contain;
}

.exponent__control-content {
  a {
    @include transition;
  }
}

.exponent__control-content a:hover {
  opacity: 0.75;
}
