/*
@font-face {
  font-family: 'DecimaMonoPro';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/subset-DecimaMonoPro-Bold.woff2') format('woff2'),
  url('../fonts/subset-DecimaMonoPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DecimaMonoPro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/subset-DecimaMonoPro.woff2') format('woff2'),
  url('../fonts/subset-DecimaMonoPro.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/subset-DINPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-DINPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/subset-DINPro.woff2') format('woff2'),
    url('../fonts/subset-DINPro.woff') format('woff');
}
*/

/*
body {
  font-family: 'DecimaMonoPro', 'Arial', sans-serif!important;
}
*/

.tracks {
  overflow: hidden
}

.tracks__header {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0;
}

.tracks__header h2 {
  font-size: 40px;
  line-height: 1.18;
}

.tracks__header-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.tracks__slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 10px
}

.tracks__slider-arrow {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  display: block;
  height: 32px;
  width: 16px
}

.tracks__slider-arrow:hover {
  opacity: 0.75
}

.tracks__slider-arrow + .tracks__slider-arrow {
  margin-left: 70px
}

@media (max-width: 767.98px) {
  .tracks__slider-arrow + .tracks__slider-arrow {
    margin-left: 40px
  }
}

.tracks__slider-arrow--prev {
  background: url("../img/arrow-left.svg") no-repeat;
  background-size: contain
}

.tracks__slider-arrow--next {
  background: url("../img/arrow-right.svg") no-repeat;
  background-size: contain
}

.tracks__slider {
  padding: 35px 0 40px
}

.tracks__slider .slick-list {
/*  overflow: visible*/
  width: calc(100% + 34px);
  margin-left: -17px;
}

@media (max-width: 767.98px) {
  .tracks__slider .slick-list {
    overflow: hidden
  }
}

.tracks__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.tracks__slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0 17px;
  width: 100%
}

@media (max-width: 767.98px) {
  .tracks__slider .slick-slide {
    margin: 0
  }
}

.track-item {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  color: #fff;
  min-height: 227px;
  padding: 20px 40px 30px;
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
}

.track-item:hover {
  color: #fff;
  opacity: 0.8
}

.track-item::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(70, 70, 70, 0.5)), to(rgba(70, 70, 70, 0.5)));
  background: linear-gradient(0deg, rgba(70, 70, 70, 0.5), rgba(70, 70, 70, 0.5));
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1
}

.track-item__picture {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.track-item__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1
}

.track-item__content-main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.track-item__live {
  background: #006dff;
  border-radius: 70px;
  color: #fff;
/*  font-family: "DIN Pro", "Times New Roman", serif;*/
  font-family: DINPro;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 3px 7.84px;
  position: absolute;
  right: 14px;
  top: 12px;
  z-index: 1
}

.track-item--active::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(211, 216, 0, 0.5)), to(rgba(211, 216, 0, 0.5)));
  background: linear-gradient(0deg, rgba(211, 216, 0, 0.5), rgba(211, 216, 0, 0.5))
}

.track-item__date {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
/*  font-family: "DIN Pro", "Times New Roman", serif;*/
  font-family: DINPro;
  margin-bottom: 20px;
}

.track-item__header {
  font-size: 25px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 14px;
}

.track-item__section {
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.index-header-first-track {
  
}

.index-header-first-track-media {
  position: relative;
  padding-top: 56.29%;
  display: block;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 35px;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.index-header-first-track-media:hover {
  opacity: .85;
}

.index-header-first-track-media:after {
  content: '';
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../img/play.svg) no-repeat center;
  background-size: contain;
}

.index-header-first-track-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.index-header-first-track-left {
  margin-right: 30px;
}

.index-header-first-track-title {
  font-size: 20px;
  line-height: 1.15;
  color: #fff;
  margin-bottom: 13px;
}

.index-header-first-track-dscr {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, .7);
  margin-bottom: 16px;
}

.index-header-first-track-date {
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}

.index-header-first-track-btn {
  text-transform: uppercase;
/*  font-family: 'DIN Pro', 'Times New Roman', serif;*/
  font-family: DINPro;
  border-radius: 70px;
  padding: 14.5px 34px;
  font-size: 16px;
  font-weight: 700;
}

.manual {
  width: 82px;
  height: 82px;
  position: fixed;
  right: 60px;
  bottom: 60px;
  border-radius: 50%;
  background: #D3D800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.095em;
  color: rgba(0, 0, 0, .7);
  text-align: center;
  z-index: 10;
  padding: 0 15px;
}

.manual:hover {
  opacity: .8;
  color: rgba(0, 0, 0, .7);
}

.manual:before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  background: url(../img/manual-icon.svg) no-repeat center;
  background-size: contain;
  margin-bottom: 3px;
}

@media screen and (max-width: 1199px) {
  
  .manual {
    right: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  
  .index-header-first-track-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .index-header-first-track-left {
    margin-right: 0;
  }
  
  .index-header-first-track-btn {
    margin-top: 20px;
  }
  
  .tracks__header h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {

  .tracks__slider .slick-list {
    margin-left: 0;
    width: 100%;
  }
}
