.link-back {
  @include transition;
  background: url('../img/link-back.svg') no-repeat;
  background-size: contain;
  display: block;
  flex-shrink: 0;
  height: 38px;
  width: 38px;
}

.link-back:hover {
  opacity: 0.75;
}
