mixin video(data)
  .video&attributes(attributes)
    a.video__front(href="#", style="background-image: url(./img/" + data.picture + ');')
      if data && data.modifier == 'live'
        .video__live Live
    .video__content
