.video {
  padding-top: 56.22%;
  position: relative;
  width: 100%;
}

.video__front {
  @include transition;
  background-position: top center;
  background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video__front:hover {
  opacity: 0.8;
}

.video__front::before {
  background: url('../img/play.svg') no-repeat center;
  background-size: contain;
  border-radius: 50%;
  content: '';
  display: block;
  height: 84px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 84px;

  @include media-breakpoint-down(sm) {
    height: 50px;
    width: 50px;
  }
}

.video__live {
  background: #006dff;
  border-radius: 70px;
  color: #fff;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 3px 7.84px;
  position: absolute;
  right: 18px;
  top: 18px;
}
