.copy-link {
  align-items: center;
  border: 1px solid $dark;
  border-radius: 70px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 6px 7px;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
  }
}

.copy-link__link {
  align-items: center;
  display: flex;
  padding-left: 22px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
  }
}

.copy-link__link::before {
  background: url('../img/chain.svg') no-repeat;
  background-size: contain;
  content: '';
  display: block;
  flex-shrink: 0;
  height: 24px;
  margin-right: 23px;
  width: 24px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.copy-link__link-content {
  @include transition;
  color: rgba(#000, 0.5);
  text-decoration: underline;
  word-break: break-all;
}

.copy-link__link-content:hover {
  color: $dark;
  text-decoration: none;
}

.copy-link__btn {
  margin-left: 20px;
  padding: 7px 20.5px !important;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-top: 20px;
  }
}
