.tracks {
  overflow: hidden;
}

.tracks__header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.tracks__header-left {
  align-items: center;
  display: flex;
}

.tracks__slider-controls {
  display: flex;
  flex-shrink: 0;
  margin-left: 10px;
}

.tracks__slider-arrow {
  @include transition;
  display: block;
  height: 32px;
  width: 16px;
}

.tracks__slider-arrow:hover {
  opacity: 0.75;
}

.tracks__slider-arrow + .tracks__slider-arrow {
  margin-left: 70px;

  @include media-breakpoint-down(sm) {
    margin-left: 40px;
  }
}

.tracks__slider-arrow--prev {
  background: url('../img/arrow-left.svg') no-repeat;
  background-size: contain;
}

.tracks__slider-arrow--next {
  background: url('../img/arrow-right.svg') no-repeat;
  background-size: contain;
}

.tracks__slider {
  padding: 35px 0 40px;

  .slick-list {
    overflow: visible;

    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    height: auto;
    margin: 0 17px;
    width: 100%;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}
