mixin speaker-select(data)
  .speaker-select&attributes(attributes)
    .speaker-select__header
      p.mb-0.text-primary Мари-Элен Аместрайтер
    .speaker-select__content
      +speaker-select__item
      +speaker-select__item.speaker-select__item--active
      +speaker-select__item
      +speaker-select__item
      +speaker-select__item
      +speaker-select__item
      +speaker-select__item
      +speaker-select__item
      +speaker-select__item




      

mixin speaker-select__item(data)
  .speaker-select__item&attributes(attributes)
    .speaker-select__item-wrapper
      .speaker-select__item-photo(style='background-image: url(./img/speaker.png);')
      .speaker-select__item-content
        p.p--sm.text-white.mb-5.speaker-select__item-name Мари-Элен Аместрайтер
        p.p--xs.text-white.mb-0 Партнер, Speedinvest
    .speaker-select__item-check
