.speaker-select {
  position: relative;
}

.speaker-select__header {
  align-items: center;
  border-bottom: 1px solid rgba(#fff, 0.2);
  display: flex;
  justify-content: space-between;
}

.speaker-select__header::after {
  background: url('../img/select-arrow.svg') no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 6px;
  width: 8px;
}

.speaker-select__content {
  background: #000;
  display: none;
  height: 177px;
  left: 0;
  overflow: hidden;
  padding: 16px;
  position: absolute;
  top: 100%;
  width: 100%;

  .ps__rail-y {
    opacity: 1;
  }
}

.speaker-select__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.speaker-select__item + .speaker-select__item {
  margin-top: 17px;
}

.speaker-select__item--active {
  .speaker-select__item-name {
    color: $primary !important;
  }

  .speaker-select__item-check {
    display: block;
  }
}

.speaker-select__item-wrapper {
  align-items: center;
  display: flex;
}

.speaker-select__item-photo {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  flex-shrink: 0;
  height: 36px;
  margin-right: 20px;
  width: 36px;
}

.speaker-select__item-check {
  background: url('../img/check.svg') no-repeat;
  background-size: contain;
  display: none;
  flex-shrink: 0;
  height: 13px;
  margin-left: 5px;
  width: 19px;
}
