.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  width: 100%;
}

.form__label {
  color: #000;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 5px;
}

.form__label--light {
  color: #fff;
}

.form__search {
  position: relative;
  width: 100%;
}

.form__search-input {
  padding-right: 34px;
  width: 100%;
}

.form__search-btn {
  @include transition;
  background: url('../img/search.svg') no-repeat;
  background-size: contain;
  bottom: 7px;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
}

.form__search-btn:hover {
  opacity: 0.75;
}
