.chat-common {
  background: #000;
  border: 1px solid rgba(#fff, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
}

.chat-common__header {
  align-items: center;
  background: $primary;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
}

.chat-common__count {
  align-items: center;
  display: flex;
}

.chat-common__count::before {
  background: url('../img/icon-user.svg') no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 20px;
  margin-right: 4px;
  width: 20px;
}

.chat-common__content {
  height: calc(100% - 95px);
  overflow: hidden;
  padding: 5px 20px;
  position: absolute;
  top: 48px;
  width: 100%;

  @include media-breakpoint-down(md) {
    height: 300px;
    position: relative;
    top: 0;
  }
}

.chat-common__footer {
  align-items: center;
  background: $dark;
  border-top: 1px solid rgba(#fff, 0.2);
  display: flex;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

.chat-common__input {
  @include placeholder(rgba(#fff, 0.7));
  background: transparent;
  border: 0;
  color: #fff;
  flex-grow: 1;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-right: 10px;
}

.chat-common__emoji {
  margin-right: 10px;
}

.chat-common__emoji-btn {
  @include transition;
  background: url('../img/icon-emoji.svg') no-repeat;
  background-size: contain;
  display: block;
  height: 24px;
  width: 24px;
}

.chat-common__emoji-btn:hover {
  opacity: 0.75;
}

.chat-common__emoji-content {
  display: none;
}

.chat-common__submit {
  @include transition;
  background: url('../img/icon-send.svg') no-repeat;
  background-size: contain;
  display: block;
  height: 24px;
  width: 24px;
}

.chat-common__submit:hover {
  opacity: 0.75;
}

.chat-common__message {
  margin: 10px 0;
}

.chat-common__message-wrapper {
  display: flex;
}

.chat-common__message-photo {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  height: 42px;
  margin-right: 15px;
  width: 42px;
}

.chat-common__message-content {
  flex-grow: 1;
}

.chat-common__message-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.chat-common__message-name {
  margin-right: 10px;
}

.chat-common__evaluation {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-left: 20px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.chat-common__evaluation-item {
  color: #fff;
  display: flex;
}

.chat-common__evaluation-item + .chat-common__evaluation-item {
  margin-left: 22px;
}

.chat-common__evaluation-item--bad::before {
  background: url('../img/bad.svg') no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  height: 16px;
  margin-right: 10px;
  margin-top: 4px;
  width: 16px;
}

.chat-common__evaluation-item--good::before {
  background: url('../img/good.svg') no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  height: 16px;
  margin-right: 10px;
  width: 16px;
}

.chat-common--general {
  min-height: 478px;

  @include media-breakpoint-down(md) {
    min-height: 0;
  }

  .chat-common__content {
    padding-top: 10px;
  }

  .chat-common__message {
    @include transition;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 4.5px 0;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      flex-direction: column-reverse;
    }
  }

  .chat-common__message + .chat-common__message {
    @include media-breakpoint-down(sm) {
      border-top: 1px solid rgba(#fff, 0.2);
    }
  }

  .chat-common__message:hover {
    background: rgba(#c4c4c4, 0.1);
  }

  .chat-common__message-header {
    justify-content: flex-start;
  }

  .chat-common__message-name {
    margin-right: 15px;
  }

  .chat-common__input {
    padding-left: 0;
  }
}
