mixin chat-common(data)
  .chat-common&attributes(attributes)
    .chat-common__header
      p.mb-0.font-weight-bold= data.title
      .chat-common__count
        p.mb-0.p--sm.font-weight-bold 350
    .chat-common__content
      +chat-common__message({
        photo: 'message-1.png',
        name: 'Вячеслав Чморшанский',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-2.png',
        name: 'Ангелина Семенова',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-3.png',
        name: 'Виктори Блаженая',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-4.png',
        name: 'Георгий Мордоворотов',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-5.png',
        name: 'Кирилл Сладкий',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-1.png',
        name: 'Вячеслав Чморшанский',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-2.png',
        name: 'Ангелина Семенова',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-3.png',
        name: 'Виктори Блаженая',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-4.png',
        name: 'Георгий Мордоворотов',
        modifier: data.modifier
      })
      +chat-common__message({
        photo: 'message-5.png',
        name: 'Кирилл Сладкий',
        modifier: data.modifier
      })
    form.chat-common__footer(action="#", method="GET")
      if data && data.modifier == 'general'
      else
        .custom-file.custom-file--clip
          input#customFile.custom-file-input(type='file')
          label.custom-file-label(for='customFile')
      input.chat-common__input(type="text", placeholder="Написать сообщение")
      .chat-common__emoji
        a.chat-common__emoji-btn(href="#")
        .chat-common__emoji-content
      button.chat-common__submit(type="submit")
      

mixin chat-common__message(data)
  .chat-common__message&attributes(attributes)
    .chat-common__message-wrapper
      .chat-common__message-photo(style="background-image: url(./img/" + data.photo + ');')
      .chat-common__message-content
        .chat-common__message-header
          p.p--sm.text-white.mb-0.chat-common__message-name= data.name
          p.p--xs.text-white.transparent-sm.mb-0 15:50
        p.p--sm.text-white Сообщение от Вячеслава в несколько строк
    if data && data.modifier == 'general'
      .chat-common__evaluation
        a.chat-common__evaluation-item.chat-common__evaluation-item--bad(href="#")
          p.mb-0 15
        a.chat-common__evaluation-item.chat-common__evaluation-item--good(href="#")
          p.mb-0 150
